<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.creditmanagement.mapper.CreditAccountTransactionLogMapper">
    <insert id="insertCreditAccountTransactionLog" parameterType="com.credit.creditmanagement.entity.CreditAccountTransactionLog">
        insert into credit_account_transaction_log(seqNo, creditAccountId, operation, operationTime) values (#{creditAccountTransactionLog.seqNo}, #{creditAccountTransactionLog.creditAccountId}, #{creditAccountTransactionLog.operation}, #{creditAccountTransactionLog.operationTime})
    </insert>

    <!-- 根据seqNo更新数据，动态设置非空字段的值 -->
    <update id="updateCreditAccountTransactionLog" parameterType="com.credit.creditmanagement.entity.CreditAccountTransactionLog">
        update credit_account_transaction_log
        <set>
            <if test="creditAccountId!= null">
                credit_account_id = #{creditAccountId},
            </if>
            <if test="operation!= null">
                operation = #{operation},
            </if>
            <if test="status!= null">
                status = #{status},
            </if>
            <if test="operationTime!= null">
                operation_time = #{operationTime},
            </if>
        </set>
        where seq_no = #{seqNo}
    </update>

</mapper>