<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.creditmanagement.mapper.SeqNoMapper">
    <insert id="insertSeqNo" parameterType="com.credit.creditmanagement.entity.SeqNo">
        insert into seq_no(value) values (#{seqNo.value})
    </insert>

</mapper>