<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.creditmanagement.mapper.UserInfoMapper">
    <insert id="insertUserInfo" parameterType="com.credit.creditmanagement.entity.UserInfo" useGeneratedKeys="true" keyProperty="userId">
        insert into user_info(username, address) values (#{userInfo.username}, #{userInfo.address})
    </insert>

</mapper>